*{
    box-sizing: border-box;
}
#search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 20%;
    background: #f1f1f1;
  }
  .switch{
    position: relative;
    width:220px;
    height: 80px;

    
  }
  .slider{
    position: absolute;
    cursor:pointer;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:grey;
    border-radius:5px;
    transition: .4s;
  }
  .switch:input{display: none;}
.slider{
    position: absolute;
    content:"";
    height:20px;
    width:40px;
    background-color: white;
    transition:0.4sec;
    border-radius:5px;

}

input:checked +slider {
background-color: aqua;
}